
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: none;
    
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

.contact-info, .social-media, .contact-form {
    margin-bottom: 40px;
}

.contact-info h2, .social-media h2, .contact-form h2 {
    margin-top: 0;
}

.contact-info p {
    margin: 5px 0;
}

.social-media ul {
    list-style-type: none;
    padding: 0;
}

.social-media ul li {
    display: inline;
    margin-right: 10px;
}

.social-media ul li:last-child {
    margin-right: 0;
}

.social-media ul li a {
    color: #333;
    text-decoration: none;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="tel"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.contact-form textarea {
    resize: vertical;
}

.contact-form button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
